<div fxLayout="row wrap">
  <div fxLayout="row" fxFlex="100">
    <mat-form-field fxFlex>
      <textarea matInput [(ngModel)]="question.body" placeholder="Question Body"></textarea>
    </mat-form-field>
  </div>
  <mat-button icon="add" title="Add Option" (click)="addOption()"></mat-button>
  <mat-button icon="save" title="Save Question" (click)="saveQuestion()"></mat-button>

  <div fxFlex="100" fxLayout="row wrap" fxLayoutGap="20px" *ngFor="let option of question.options; index as i">
    <span fxFlexAlign="center"> {{i+1}} &ndash;</span>
    <mat-form-field fxFlex>
      <input matInput [(ngModel)]="option.body" placeholder="Body" />
    </mat-form-field>
    <mat-button icon="delete" title="Delete Option" (click)="deleteOption(option)"></mat-button>
  </div>
</div>