<div>
  <h2>Question Editor</h2>
  <div><span>id: </span>{{question.id}}</div>
  <div>
    <div>
      <label>Question:
        <input [(ngModel)]="question.body" placeholder="Question Body" />
      </label>
    </div>
    <div>
      <label>Option: </label>
        <input [(ngModel)]="editOption.mark" placeholder="Mark" />
        .
        <input [(ngModel)]="editOption.body" placeholder="Body" />
        <button class="add" title="add option" (click)="add()">+</button>
    </div>
    <ul class="questions">
      <li class='option' *ngFor="let option of question.options">
        <span>{{option.mark}}. {{option.body}}</span>
        <button class="delete" title="delete option" (click)="delete(option)">x</button>
      </li>
    </ul>
  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
</div>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->